<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Meal Plan</title>
  </head>
  <body class="capitalize">
    <h1>Meal Plan</h1>
    <ul>
      {% for day, meals in plan.items() %}
      <li>
        <h3>{{ day }}</h3>
        <ul>
          {% for meal_name, meal in meals.items() %}
          <li>
            {{ meal_name }}:
              <a href="{{ meal['name'] }}.html">{{ meal['name'] | replace("-", " ")}}
              </a>
              {% if meal['leftovers'] %}
                (leftovers)
              {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
